@*
    This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
       This is where you can add, modify, or remove navigation options in your app
       TODO: This preserves the links as-is for the demo, which lead to broken pages!
       It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@

@{string ctrName = ViewContext.RouteData.Values["controller"].ToString();}
@{string aName = ViewContext.RouteData.Values["action"].ToString();}
@{
    Layout = null;
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/Images/AdminLogo.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>@TempData["Nombre"]</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MENÚ DE NAVEGACIÓN</li>
            <li @if (ctrName == "Home" && aName == "Index") { <text> class="active" </text>  }>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-dashboard"></i> <span>Tabla resúmen</span>
                </a>
            </li>
            <li @if (ctrName == "Mensajes") { <text> class="treeview active" </text>    } else { <text> class="treeview" </text>   }>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span>Mensajería</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li @if (ctrName == "Mensajes" && aName == "Index") { <text> class="active" </text>   }><a href="@Url.Action("Index", "Mensajes")"><i class="fa fa-circle-o"></i> Mensajes recibidos</a></li>
                    <li @if (ctrName == "Mensajes" && aName == "Salida") { <text> class="active" </text>   }><a href="@Url.Action("Salida", "Mensajes")"><i class="fa fa-circle-o"></i> Mensajes enviados</a></li>
                    <li @if (ctrName == "Mensajes" && aName == "Crear") { <text> class="active" </text>   }><a href="@Url.Action("Crear", "Mensajes")"><i class="fa fa-circle-o"></i> Enviar Mensaje</a></li>
                </ul>
            </li>
            <li @if (ctrName == "Usuarios") { <text> class="treeview active" </text>     } else { <text> class="treeview" </text> }>
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Control de usuarios</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li @if (ctrName == "Usuarios" && aName == "Index") { <text> class="active" </text>    }><a href="@Url.Action("Index", "Usuarios")"><i class="fa fa-circle-o"></i> Ver usuarios</a></li>
                    <li @if (ctrName == "Usuarios" && aName == "Create") { <text> class="active" </text>    }><a href="@Url.Action("Create", "Usuarios")"><i class="fa fa-circle-o"></i> Crear Usuarios</a></li>
                </ul>
            </li>
            <li @if (ctrName == "Proveedores") { <text> class="treeview active" </text>      } else { <text> class="treeview" </text>  }>
                <a href="#">
                    <i class="fa fa-stack-overflow"></i>
                    <span>Proveedores</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li @if (ctrName == "Proveedores" && aName == "Index") { <text> class="active" </text> }><a href="@Url.Action("Index", "Proveedores")"><i class="fa fa-circle-o"></i> Ver Proveedores</a></li>
                    <li @if (ctrName == "Proveedores" && aName == "Create") { <text> class="active" </text>  }><a href="@Url.Action("Create", "Proveedores")"><i class="fa fa-circle-o"></i> Crear Proveedor</a></li>
                </ul>
            </li>
            <li @if (ctrName == "Productos") { <text> class="treeview active" </text> } else { <text> class="treeview" </text> }>
                <a href="#">
                    <i class="fa fa-th-large"></i> <span>Productos</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li @if (ctrName == "Productos" && aName == "Index") { <text> class="active" </text>  }><a href="@Url.Action("Index", "Productos")"><i class="fa fa-circle-o"> </i>Ver Productos</a></li>
                    <li @if (ctrName == "Productos" && aName == "Create") { <text> class="active" </text>  }><a href="@Url.Action("Create", "Productos")"><i class="fa fa-circle-o"> </i>Añadir Productos</a></li>
                </ul>
            </li>
            <li @if (ctrName == "Pedidos") { <text> class="treeview active" </text>  } else { <text> class="treeview" </text>  }>
                <a href="#">
                    <i class="fa fa-random"></i>
                    <span>Gestión de pedidos</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li @if (ctrName == "Pedidos" && aName == "Index") { <text> class="active" </text>   }><a href="@Url.Action("Index", "Pedidos")"><i class="fa fa-circle-o"></i> Ver Pedidos</a></li>
                    <li @if (ctrName == "Pedidos" && aName == "Create") { <text> class="active" </text>   }><a href="@Url.Action("Create", "Pedidos")"><i class="fa fa-circle-o"></i> Crear Pedidos</a></li>
                </ul>
            </li>
            <li @if (ctrName == "Ventas" && aName == "Index") { <text> class="active" </text>   }>
                <a href="@Url.Action("Index", "Ventas")">
                    <i class="fa fa-credit-card"></i> <span>Registrar Venta</span>
                </a>
            </li>
            <li @if (ctrName == "Horarios") { <text> class="treeview active" </text>   } else { <text> class="treeview" </text>   }>
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Horarios</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li @if (ctrName == "Horario" && aName == "Create") { <text> class="active" </text>    }><a href="@Url.Action("Create", "Horario")"><i class="fa fa-circle-o"></i> Añadir Horario</a></li>
                    <li @if (ctrName == "Horario" && aName == "Create") { <text> class="active" </text>    }><a href="@Url.Action("Index", "Home")"><i class="fa fa-circle-o"></i> Ver</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>