@* 
 This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
    This is where you can add, modify, or remove navigation options in your app
    TODO: This preserves the links as-is for the demo, which lead to broken pages!
    It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@


@{
    Layout = null;
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/Images/SuperAdminLogo.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>@TempData["Nombre"]</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MENÚ DE NAVEGACIÓN</li>
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-dashboard"></i> <span>Tabla resúmen</span> 
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span>Mensajería</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Mensajes")"><i class="fa fa-circle-o"></i> Mensajes recibidos</a></li>
                    <li><a href="@Url.Action("Enviados", "Mensajes")"><i class="fa fa-circle-o"></i> Mensajes enviados</a></li>
                    <li><a href="@Url.Action("Crear", "Mensajes")"><i class="fa fa-circle-o"></i> Enviar Mensaje</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Control de usuarios</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Usuarios")"><i class="fa fa-circle-o"></i> Ver usuarios</a></li>
                    <li><a href="@Url.Action("Create", "Usuarios")"><i class="fa fa-circle-o"></i> Crear Usuarios</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-users"></i> <span>Proveedores</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")}">
                    <i class="fa fa-users"></i> <span>Productos</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")}">
                    <i class="fa fa-users"></i> <span>Pedidos</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")}">
                    <i class="fa fa-users"></i> <span>Registrar Venta</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Horarios</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create", "Horario")}"><i class="fa fa-circle-o"></i> Añadir Horario</a></li>
                    <li><a href="@Url.Action("Index", "Home")}"><i class="fa fa-circle-o"></i> Ver</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")}"><i class="fa fa-users"></i> <span>Apariencia</span></a>
            </li>
            
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>