@* 
 This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
    TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@

@{
    ViewBag.Layout = null;
        //Read the cookie from Request.
        string userId="";
        string rol="";
        IManagerGenNHibernate.CEN.IManager.UsuarioCEN usu = new IManagerGenNHibernate.CEN.IManager.UsuarioCEN();
        IManagerGenNHibernate.CEN.IManager.AparienciaCEN apa = new IManagerGenNHibernate.CEN.IManager.AparienciaCEN();
        IManagerGenNHibernate.EN.IManager.UsuarioEN usuario=usu.GetUsuarioByEmail(User.Identity.Name);
        userId = usuario.Nombre + " " + usuario.Apellidos;
        switch (usuario.GetType().Name) {
            case "SuperAdministradorEN":
                rol = "Super Administrador";
                break;
            case "AdministradorEN":
                rol = "Administrador";
                break;
            case "EmpleadoEN":
                rol = "Empleado";
                break;
        }
        IManagerGenNHibernate.CEN.IManager.MensajeCEN mensajeCEN = new IManagerGenNHibernate.CEN.IManager.MensajeCEN();
        long sinLeer = mensajeCEN.ContarMensajesNoLeidosByDestinatario(User.Identity.Name);
        TempData["Nombre"] = userId;
        string siteName=apa.GetApariencia(0,-1)[0].Nombre;
}

<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index","Home")" class="logo">@siteName</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">@sinLeer</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Últimos mensajes</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul id="menu-ultimos-mensajes" class="menu">
                            </ul>
                        </li>
                        <li class="footer"><a href="@Url.Action("Index","Mensajes")">Ver todos los mensajes</a></li>
                    </ul>
                </li>
                
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                        
                        
                        <span class="hidden-xs">@userId</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                            <p>
                                @userId
                                -
                                @rol
                                <small>Miembro desde Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("Manage", "Account")" class="btn btn-default btn-flat">Perfil</a>
                            </div>
                            <div class="pull-right">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Cerrar sesión</a>
                                }
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>