@model MVCApp.Models.InstalacionModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Blank Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="../../Content/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../Content/AdminLTE/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../Content/AdminLTE/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../Scripts/AdminLTE/plugins/iCheck/square/blue.css">



    <script>
        function iniciar() {
        
            document.getElementById('apariencia').style.display = "none";
        }
    </script>
    <link rel="stylesheet" href="../../Content/animate.css">
</head>
<body onload="iniciar();" class="hold-transition register-page ">
    <div class="register-box">
        @using (Html.BeginForm("", "Instalacion", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)



    <div class="register-logo animated fadeInRightBig">
        <b>Admin</b>LTE
    </div>
    <div id="datos" class="register-box-body animated slideInLeft">
        <p class="login-box-msg animated flipInX">Datos Personales</p>
        <div class="form-group has-feedback animated flipInX">
            @Html.TextBoxFor(model => model.SiteName, null, new { @class = "form-control", placeholder = "Nombre del sitio" })
            @Html.ValidationMessageFor(model => model.SiteName, null, new { @class = "glyphicon glyphicon-home form-control-feedback" })

        </div>

        <div class="form-group has-feedback animated flipInX">
            @Html.TextBoxFor(model => model.UserName, null, new { @class = "form-control", placeholder = "Nombre del Super-Usuario" })
            @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "glyphicon glyphicon-chevron-left form-control-feedback" })
        </div>

        <div class="form-group has-feedback animated flipInX">

            @Html.TextBoxFor(model => model.UserLastName, null, new { @class = "form-control", placeholder = "Apellido del Super-Usuario" })
            @Html.ValidationMessageFor(model => model.UserLastName, null, new { @class = "glyphicon glyphicon-chevron-left form-control-feedback" })
        </div>

        <div class="form-group has-feedback animated flipInX">
            @Html.TextBoxFor(model => model.DNI, null, new { @class = "form-control", placeholder = "DNI" })
            @Html.ValidationMessageFor(model => model.DNI, null, new { @class = "glyphicon glyphicon-chevron-left form-control-feedback" })
        </div>

        <div class="form-group has-feedback animated flipInX">
            @Html.TextBoxFor(model => model.UserEmail, null, new { @class = "form-control", placeholder = "Email del Super-Usuario" })
            @Html.ValidationMessageFor(model => model.UserEmail, null, new { @class = "glyphicon glyphicon-envelope form-control-feedback" })
        </div>

        <div class="form-group has-feedback animated flipInX">
            @Html.TextBoxFor(model => model.Password, null, new { @class = "form-control", placeholder = "Contraseña" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "glyphicon glyphicon-lock form-control-feedback" })
        </div>

        <div class="form-group has-feedback animated flipInX">
            @Html.TextBoxFor(model => model.ConfirmPassword, null, new { @class = "form-control", placeholder = "Contraseña" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "glyphicon glyphicon-log-in form-control-feedback" })
        </div>
        <div class="row">

            <div class="col-xs-12">
                <button type="button" onclick="cambiar();" class="btn btn-success btn-block btn-flat">Siguiente</button>
            </div>
        </div>
    </div>

    <div id="apariencia" class="register-box-body" style="display:none">
        <p class="login-box-msg">Apariencia</p>
        <div class="form-group has-feedback">


            @Html.TextBoxFor(model => model.SiteLogo, null, new { @class = "form-control", placeholder = "Logo del sitio" })
            @Html.ValidationMessageFor(model => model.SiteLogo, null, new { @class = "glyphicon glyphicon-picture form-control-feedback" })
        </div>

        <div class="form-group has-feedback">
            @Html.TextBoxFor(model => model.SuperColor, null, new { @class = "form-control", placeholder = "Color del Tema del Super-Usuario" })
            @Html.ValidationMessageFor(model => model.SuperColor, null, new { @class = "glyphicon glyphicon-cog form-control-feedback" })
        </div>

        <div class="form-group has-feedback">
            @Html.TextBoxFor(model => model.AdminColor, null, new { @class = "form-control", placeholder = "Color del Tema del Administrador" })
            @Html.ValidationMessageFor(model => model.AdminColor, null, new { @class = "glyphicon glyphicon-cog form-control-feedback" })
        </div>

        <div class="form-group has-feedback">
            @Html.TextBoxFor(model => model.EmplColor, null, new { @class = "form-control", placeholder = "Color del Tema del Empleado" })
            @Html.ValidationMessageFor(model => model.EmplColor, null, new { @class = "glyphicon glyphicon-cog form-control-feedback" })
        </div>

        <div class="row">

            <div class="col-xs-6">
                <button type="button" onclick="cambiar();" class="btn btn-success btn-block btn-flat">Atras</button>
                </div>
                <div class="col-xs-6">

                    <button type="submit" class="btn btn-primary btn-block btn-flat">Create</button>
                </div>
            </div>

    </div>
        }

    </div>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="../../Scripts/instalacion.js"></script>
</body>
</html>
