@model IEnumerable<MVCApp.Models.UsuarioModels>
@{
    if (User.IsInRole("SuperAdministrador")) {
        Layout = "~/Views/Shared/_SuperLayout.cshtml";
    }
    if (User.IsInRole("Administrador")) {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    ViewBag.Title = "Control de usuarios";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Control de usuarios", "", "fa-users"), new Crumb("Ver Usuarios")
    });
    
}
        @{
            if (ViewData["Creado"]!=null) { 
                <text>
                <div class="row">
                    <div class="alert alert-success alert-dismissible" style="margin-right: 15px; margin-left: 15px;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Usuario Creado!</h4>
                        El usuario ha sido creado correctamente.
                    </div>
                </div>
                    
                </text>
            }
        }
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Lista de Usuarios</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover table-striped dataTable">
                            <thead>
                                <tr>
                                    <th>Rol</th>
                                    <th>Email</th>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Rol)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DNI)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Apellidos)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { /* id=item.PrimaryKey */ })" class="fa fa-pencil" style="padding-right:5px;"></a>
                                            <a href="@Url.Action("Delete", new { /* id=item.PrimaryKey */ })" class="fa fa-remove"></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Rol</th>
                                    <th>Email</th>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Acción</th>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
@section scripts {
    @*NOTE: These should NOT be used in a production situation
        They do contains useful snippets on how to setup charts*@
    <!-- DataTables -->
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/responsive/1.0.0/js/dataTables.responsive.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Scripts/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    
       @Scripts.Render("~/bundles/jqueryval")
    <!-- page script -->
    <script>
        $(document).ready(function () {
            $('#example2').DataTable({
                responsive: true,
                autoWidth: false,
                paging: true
            });
        });
    </script>
}
@section especificos{
    <!-- DataTables -->
    <style>
        .form-control.input-sm {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.0/css/dataTables.responsive.css">
    
}
