@model MVCApp.Models.VerMensajesModels
@{
    if (User.IsInRole("SuperAdministrador")) {
        Layout = "~/Views/Shared/_SuperLayout.cshtml";
    }
    if (User.IsInRole("Administrador")) {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    if (User.IsInRole("Empleado")) {
        Layout = "~/Views/Shared/_EmpleadoLayout.cshtml";
    }
    ViewBag.Title = "Mensajería";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Mensajería", "", "fa fa-envelope"), new Crumb("Recibidos")
    });
    var id=Html.DisplayFor(model=>model.IdMensaje);
}
@{
    if (TempData["Creado"] != null) {
        <text>
            <div class="row">
                <div class="alert alert-success alert-dismissible" style="margin-right: 15px; margin-left: 15px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Mensaje enviado!</h4>
                    El mensaje se ha enviado correctamente.
                </div>
            </div>

        </text>
    }
}
@{
    if (TempData["ErrorBorr"] != null) {
        <text>
            <div class="row">
                <div class="alert alert-danger alert-dismissible" style="margin-right: 15px; margin-left: 15px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Error!</h4>
                    No hemos podido elminar el mensaje, intentalo de nuevo porfavor.
                </div>
            </div>

        </text>
    }
}
<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Crear","Mensajes")" class="btn btn-primary btn-block margin-bottom">Redactar</a>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Carpetas</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="@Url.Action("Index","Mensajes")"><i class="fa fa-inbox"></i> Bandeja de entrada <span class="label label-primary pull-right">@ViewData["cuenta"]</span></a></li>
                    <li><a href="@Url.Action("Salida","Mensajes")"><i class="fa fa-envelope-o"></i> Bandeja de salida </a></li>
                </ul>
            </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div><!-- /.col -->
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Leer Email</h3>
                <div class="box-tools pull-right">
                    <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
                    <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-read-info">
                    <h3>@Html.DisplayFor(model => model.Asunto)</h3>
                    <h5>De: @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellidos)<span class="mailbox-read-time pull-right">@Html.DisplayFor(model => model.Tiempo)</span></h5>
                </div><!-- /.mailbox-read-info -->
                <div class="mailbox-controls with-border text-center">
                    <div class="btn-group">

                        <a href="@Url.Action("Delete","Mensajes",new {id=id})" class="btn btn-default btn-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                        <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Reply"><i class="fa fa-reply"></i></button>
                    </div><!-- /.btn-group -->
                    <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Print"><i class="fa fa-print"></i></button>
                </div><!-- /.mailbox-controls -->
                <div class="mailbox-read-message">
                    @Html.DisplayFor(model => model.Contenido)
                </div><!-- /.mailbox-read-message -->
            </div><!-- /.box-body -->
            
            <div class="box-footer">
                <div class="pull-right">
                    <button class="btn btn-default"><i class="fa fa-reply"></i> Responder</button>
                </div>
                <button class="btn btn-default"><i class="fa fa-trash-o"></i> Borrar</button>
                <button class="btn btn-default"><i class="fa fa-print"></i> Imprimir</button>
            </div><!-- /.box-footer -->
        </div><!-- /. box -->
    </div><!-- /.col -->
</div><!-- /.row -->
@section scripts{
    @*Scripts propios de la pagina para renderizar*@
    <script src="~/Scripts/mensajes.js"></script>
    <!-- Page Script -->
    <!-- SlimScroll -->
    <script src="~/Scripts/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script>

        $(function () {
            //Enable iCheck plugin for checkboxes
            //iCheck for checkbox and radio inputs
            $('.mailbox-messages input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //Enable check and uncheck all functionality
            $(".checkbox-toggle").click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    //Uncheck all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                } else {
                    //Check all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("check");
                    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                }
                $(this).data("clicks", !clicks);
            });

        });
    </script>
}
@section especificos{
    @*CSS especifico de esta pagina*@
    <!-- iCheck -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/AdminLTE/plugins/iCheck/flat/blue.css">
}