@model MVCApp.Models.HomeModels
@{
    // TODO: Consider setting Layout set automatially in _ViewStart.cshtml
    if (User.IsInRole("SuperAdministrador")) {
        Layout = "~/Views/Shared/_SuperLayout.cshtml";
    }
    if (User.IsInRole("Administrador")) {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    if (User.IsInRole("Empleado")) {
        Layout = "~/Views/Shared/_EmpleadoLayout.cshtml";
    }

    // EXAMPLE:
    // Using the ViewBag on a page to set the title and sub-title
    // This will cause the _AdminLteLayout to include this value in the page title
    // And also set the top titles in the main content area of the page
    ViewBag.Title = "iManager";
    ViewBag.TitleSmall = "Version 2.0";

    // EXAMPLE:
    // Using the Breadcrumb class to create a dynamically generated breadcrumb on the page with
    // Titles, plus optional icon and URLs
    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Table resúmen", "", "fa-dashboard")
    });
}
<!-- Info boxes -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="@Url.Action("Index","Productos")" style="color:black;">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-cube"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">PRODUCTOS</span>
                    <span class="info-box-number">@Model.numeroProductos</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </a>
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="@Url.Action("Index","Pedidos")" style="color:black;">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-load-a"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">PEDIDOS PENDIENTES</span>
                <span class="info-box-number">@Model.numeroPedidiosPendientes</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </a>
        
    </div><!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="@Url.Action("Index","Ventas")" style="color:black;">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">VENTAS</span>
                    <span class="info-box-number">@Model.numeroVentas</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </a>
</div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="@Url.Action("Index","Usuarios")" style="color:black;">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">USUARIOS</span>
                    <span class="info-box-number">@Model.numeroUsuarios</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </a>
    </div><!-- /.col -->
</div><!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Gastos VS Ingresos</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <p class="text-center">Año</p>
                            <select id="anyo-graph" class="form-control center-block" style="width:60%;">
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                        
                        <div class="chart-responsive">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" height="250"></canvas>
                        </div><!-- /.chart-responsive -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- ./box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <h5 class="description-header text-green"><i class="fa fa-caret-up"></i> @Math.Round(Model.totalIngresos[0],2) €</h5>

                            <span class="description-text">INGRESOS TOTALES</span>
                        </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <h5 class="description-header text-red"><i class="fa fa-caret-down"></i> @Math.Round(Model.totalGastos[0],2) €</h5>
                            <span class="description-text">GASTOS TOTALES</span>
                        </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            @{
                                string tipo;
                                string tipo2;
                                if (Model.ganancia[0] > 0) {
                                    tipo = "up";
                                    tipo2 = "green";
                                }
                                else if (Model.ganancia[0] < 0) {
                                    tipo = "down";
                                    tipo2 = "red";
                                }
                                else {
                                    tipo = "left";
                                    tipo2 = "yellow";
                                }
                            }
                            <h5 class="description-header text-@tipo2"><i class="fa fa-caret-@tipo"></i> @Math.Round(Model.ganancia[0],2) €</h5>
                            <span class="description-text">GANANCIA TOTAL</span>
                        </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block">
                            <div class="center-block">
                                <span style="background-color: rgb(210, 214, 222); display: inline-block; width: 12px; height: 12px; margin-right: 5px;"></span><span>INGRESOS</span>
                            </div>
                            <div class="center-block" style="padding-right:12px;">
                                <span style="background-color: rgba(60,141,188,0.9); display: inline-block; width: 12px; height: 12px; margin-right: 5px;"></span><span>GASTOS</span>
                            </div>
                        </div><!-- /.description-block -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.box-footer -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <div class="col-md-8">
        <!-- MAP & BOX PANE -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Mapa de Proveedores</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="pad">
                            <!-- Map will be created here -->
                            <div id="world-map-markers" style="height: 325px;"></div>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-3 col-sm-4">
                        <div class="pad box-pane-right bg-green" style="min-height: 280px">
                            <div class="description-block margin-bottom" style="visibility:hidden">
                                <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>
                                <h5 class="description-header">8390</h5>
                                <span class="description-text">Visits</span>
                            </div><!-- /.description-block -->
                            <div class="description-block margin-bottom">
                                <i class="fa fa-stack-overflow" style="height: 80px; width: 80px; text-align: center; font-size: 45px; line-height: 90px;"></i>
                                <h5 class="description-header">@Model.listaProveedores.ToList().Count</h5>
                                <span class="description-text">Proveedores</span>
                            </div><!-- /.description-block -->
                            <div class="description-block" style="visibility:hidden">
                                <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                <h5 class="description-header">70%</h5>
                                <span class="description-text">Organic</span>
                            </div><!-- /.description-block -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
    <div class='col-md-4'>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Productos más Vendidos</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart-responsive">
                            <canvas id="pieChart" height="150"></canvas>
                        </div><!-- ./chart-responsive -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <ul class="chart-legend clearfix">
                            <li><i class="fa fa-circle-o text-red"></i> Chrome</li>
                            <li><i class="fa fa-circle-o text-green"></i> IE</li>
                            <li><i class="fa fa-circle-o text-yellow"></i> FireFox</li>
                            <li><i class="fa fa-circle-o text-aqua"></i> Safari</li>
                            <li><i class="fa fa-circle-o text-light-blue"></i> Opera</li>
                            <li><i class="fa fa-circle-o text-gray"></i> Navigator</li>
                        </ul>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.box-body -->
            <div class="box-footer no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">United States of America <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span></a></li>
                    <li><a href="#">India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a></li>
                    <li><a href="#">China <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
                </ul>
            </div><!-- /.footer -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-md-8">
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Últimos Pedidos</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Item</th>
                                <th>Status</th>
                                <th>Popularity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                <td>Call of Duty IV</td>
                                <td><span class="label label-success">Shipped</span></td>
                                <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div></td>
                            </tr>
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                <td>Samsung Smart TV</td>
                                <td><span class="label label-warning">Pending</span></td>
                                <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                            </tr>
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                <td>iPhone 6 Plus</td>
                                <td><span class="label label-danger">Delivered</span></td>
                                <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
                            </tr>
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                <td>Samsung Smart TV</td>
                                <td><span class="label label-info">Processing</span></td>
                                <td><div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div></td>
                            </tr>
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                <td>Samsung Smart TV</td>
                                <td><span class="label label-warning">Pending</span></td>
                                <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                            </tr>
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                <td>iPhone 6 Plus</td>
                                <td><span class="label label-danger">Delivered</span></td>
                                <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
                            </tr>
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                <td>Call of Duty IV</td>
                                <td><span class="label label-success">Shipped</span></td>
                                <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Hacer Nuevo Pedido</a>
                <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">Ver Pedidos</a>
            </div><!-- /.box-footer -->
        </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-4">
        <!-- PRODUCT LIST -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Productos Añadidos Recientemente</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <ul class="products-list product-list-in-box">
                    <li class="item">
                        <div class="product-img">
                            <img src="http://placehold.it/50x50/d2d6de/ffffff" alt="Product Image" />
                        </div>
                        <div class="product-info">
                            <a href="javascript::;" class="product-title">Samsung TV <span class="label label-warning pull-right">$1800</span></a>
                            <span class="product-description">
                                Samsung 32" 1080p 60Hz LED Smart HDTV.
                            </span>
                        </div>
                    </li><!-- /.item -->
                    <li class="item">
                        <div class="product-img">
                            <img src="/Content/AdminLTE/img/default-50x50.gif" alt="Product Image" />
                        </div>
                        <div class="product-info">
                            <a href="javascript::;" class="product-title">Bicycle <span class="label label-info pull-right">$700</span></a>
                            <span class="product-description">
                                26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                            </span>
                        </div>
                    </li><!-- /.item -->
                    <li class="item">
                        <div class="product-img">
                            <img src="/Content/AdminLTE/img/default-50x50.gif" alt="Product Image" />
                        </div>
                        <div class="product-info">
                            <a href="javascript::;" class="product-title">Xbox One <span class="label label-danger pull-right">$350</span></a>
                            <span class="product-description">
                                Xbox One Console Bundle with Halo Master Chief Collection.
                            </span>
                        </div>
                    </li><!-- /.item -->
                    <li class="item">
                        <div class="product-img">
                            <img src="/Content/AdminLTE/img/default-50x50.gif" alt="Product Image" />
                        </div>
                        <div class="product-info">
                            <a href="javascript::;" class="product-title">PlayStation 4 <span class="label label-success pull-right">$399</span></a>
                            <span class="product-description">
                                PlayStation 4 500GB Console (PS4)
                            </span>
                        </div>
                    </li><!-- /.item -->
                </ul>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
                <a href="javascript::;" class="uppercase">Ver Todos</a>
            </div><!-- /.box-footer -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
@section scripts {
    @*NOTE: These should NOT be used in a production situation
        They do contains useful snippets on how to setup charts*@
    <script>
        'use strict';
        //---------------------------
        //- END MONTHLY SALES CHART -
        //---------------------------

        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
        var pieChart = new Chart(pieChartCanvas);
        var PieData = [
          {
              value: 700,
              color: "#f56954",
              highlight: "#f56954",
              label: "Chrome"
          },
          {
              value: 500,
              color: "#00a65a",
              highlight: "#00a65a",
              label: "IE"
          },
          {
              value: 400,
              color: "#f39c12",
              highlight: "#f39c12",
              label: "FireFox"
          },
          {
              value: 600,
              color: "#00c0ef",
              highlight: "#00c0ef",
              label: "Safari"
          },
          {
              value: 300,
              color: "#3c8dbc",
              highlight: "#3c8dbc",
              label: "Opera"
          },
          {
              value: 100,
              color: "#d2d6de",
              highlight: "#d2d6de",
              label: "Navigator"
          }
        ];
        var pieOptions = {
            //Boolean - Whether we should show a stroke on each segment
            segmentShowStroke: true,
            //String - The colour of each segment stroke
            segmentStrokeColor: "#fff",
            //Number - The width of each segment stroke
            segmentStrokeWidth: 1,
            //Number - The percentage of the chart that we cut out of the middle
            percentageInnerCutout: 50, // This is 0 for Pie charts
            //Number - Amount of animation steps
            animationSteps: 100,
            //String - Animation easing effect
            animationEasing: "easeOutBounce",
            //Boolean - Whether we animate the rotation of the Doughnut
            animateRotate: true,
            //Boolean - Whether we animate scaling the Doughnut from the centre
            animateScale: false,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true,
            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: false,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
            //String - A tooltip template
            tooltipTemplate: "<%=value %> <%=label%> users"
        };
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.  
        pieChart.Doughnut(PieData, pieOptions);
        //-----------------
        //- END PIE CHART -
        //-----------------

        

        /* SPARKLINE CHARTS
         * ----------------
         * Create a inline charts with spark line
         */

        //-----------------
        //- SPARKLINE BAR -
        //-----------------
        $('.sparkbar').each(function () {
            var $this = $(this);
            $this.sparkline('html', {
                type: 'bar',
                height: $this.data('height') ? $this.data('height') : '30',
                barColor: $this.data('color')
            });
        });

        //-----------------
        //- SPARKLINE PIE -
        //-----------------
        $('.sparkpie').each(function () {
            var $this = $(this);
            $this.sparkline('html', {
                type: 'pie',
                height: $this.data('height') ? $this.data('height') : '90',
                sliceColors: $this.data('color')
            });
        });

        //------------------
        //- SPARKLINE LINE -
        //------------------
        $('.sparkline').each(function () {
            var $this = $(this);
            $this.sparkline('html', {
                type: 'line',
                height: $this.data('height') ? $this.data('height') : '90',
                width: '100%',
                lineColor: $this.data('linecolor'),
                fillColor: $this.data('fillcolor'),
                spotColor: $this.data('spotcolor')
            });
        });
    </script>
    
    <script>
        $(function () {

            /* ChartJS
             * -------
             * Here we will create a few charts using ChartJS
             */

            //-----------------------
            //- MONTHLY SALES CHART -
            //-----------------------

            // Get context with jQuery - using jQuery's .get() method.
            var salesChartCanvas = $("#salesChart").get(0).getContext("2d");

            // This will get the first returned node in the jQuery collection.
            var salesChart = new Chart(salesChartCanvas);
            
            var ingresos= new Array();
            var gastos= new Array();
            @foreach(var item in Model.totalAnyoIngresos){
                <text>
                    ingresos.push(@Html.Raw(Json.Encode(item)));
                </text>
            }
            @foreach(var item in Model.totalAnyoGastos){
                <text>
                    gastos.push(@Html.Raw(Json.Encode(item)));
                </text>
            }
            var salesChartData = {
                labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                datasets: [
                  {
                      label: "Ingresos",
                      fillColor: "rgb(210, 214, 222)",
                      strokeColor: "rgb(210, 214, 222)",
                      pointColor: "rgb(210, 214, 222)",
                      pointStrokeColor: "#c1c7d1",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgb(220,220,220)",
                      data: ingresos[0]
                  },
                  {
                      label: "Gastos",
                      fillColor: "rgba(60,141,188,0.9)",
                      strokeColor: "rgba(60,141,188,0.8)",
                      pointColor: "#3b8bba",
                      pointStrokeColor: "rgba(60,141,188,1)",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(60,141,188,1)",
                      data: gastos[0]
                  }
                ]
            };

            var salesChartOptions = {
                //Boolean - If we should show the scale at all
                showScale: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: false,
                //String - Colour of the grid lines
                scaleGridLineColor: "rgba(0,0,0,.05)",
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - Whether the line is curved between points
                bezierCurve: true,
                //Number - Tension of the bezier curve between points
                bezierCurveTension: 0.3,
                //Boolean - Whether to show a dot for each point
                pointDot: false,
                //Number - Radius of each point dot in pixels
                pointDotRadius: 4,
                //Number - Pixel width of point dot stroke
                pointDotStrokeWidth: 1,
                //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                pointHitDetectionRadius: 20,
                //Boolean - Whether to show a stroke for datasets
                datasetStroke: true,
                //Number - Pixel width of dataset stroke
                datasetStrokeWidth: 2,
                //Boolean - Whether to fill the dataset with a color
                datasetFill: true,
                //String - A legend template
                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%=datasets[i].label%></li><%}%></ul>",
                //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: false,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true
            };

            //Create the line chart
            var sales = salesChart.Line(salesChartData, salesChartOptions);
            
            var sales2;
            first = false;
            $('#anyo-graph').change(function () {
                var i;
                switch (this.value) {
                    case "2015":
                        i = 0;
                        break;
                    case "2016":
                        i = 1;
                        break;
                    case "2017":
                        i = 2;
                        break;
                }
                salesChartCanvas = $("#salesChart").get(0).getContext("2d");
                salesChartData.datasets[0].data = ingresos[i];
                salesChartData.datasets[1].data = gastos[i];
                if(first){
                    sales2.destroy();
                }
                sales.destroy();
                salesChart = new Chart(salesChartCanvas);
                sales2 = salesChart.Line(salesChartData, salesChartOptions);
                first = true;
            });
        });
    </script>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnIi1KcDuS8KtdCxO0AbmWHInGIBiPyCI&signed_in=true&callback=initMap"
        async defer></script>



    <script>
        var marcadores = new Array();
        function initMap() {
            var geocoder = new google.maps.Geocoder();
                geocodeAddress(geocoder);
        }
        function geocodeAddress(geocoder) {
            var i=0;
            var arrayProveedores = new Array();
            var objeto;
            @foreach(var item in Model.listaProveedores){
                <text>
                    objeto = @Html.Raw(Json.Encode(item))
                    arrayProveedores.push(objeto);
            </text>
            }
            var llamadas = arrayProveedores.length;
            var contador = 0;
            for(i=0;i<arrayProveedores.length;i++){
                var address = arrayProveedores[i].Direccion+", "+arrayProveedores[i].Localidad;
                var localidad = arrayProveedores[i].Localidad;
                geocoder.geocode({'address': address}, function(results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        var array = new Array();
                        array.push(results[0].geometry.location.lat());
                        array.push(results[0].geometry.location.lng());
                        var objeto = {latLng: array, name: arrayProveedores[contador].Nombre};
                        marcadores.push(objeto);

                        llamadas--;
                        contador++;
                        if(llamadas<=0){
                            dibujarMapa();
                        }
                    } else {
                        //alert('Geocode was not successful for the following reason: ' + status);
                    }
                    
                });

            }
            //alert(JSON.stringify(marcadores)); 
        }

        function dibujarMapa(){
            /* jVector Maps
         * ------------
         * Create a world map with markers
         */
            $('#world-map-markers').vectorMap({
                map: 'world_mill_en',
                normalizeFunction: 'polynomial',
                hoverOpacity: 0.7,
                hoverColor: false,
                backgroundColor: 'transparent',
                regionStyle: {
                    initial: {
                        fill: 'rgba(210, 214, 222, 1)',
                        "fill-opacity": 1,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 1
                    },
                    hover: {
                        "fill-opacity": 0.7,
                        cursor: 'pointer'
                    },
                    selected: {
                        fill: 'yellow'
                    },
                    selectedHover: {
                    }
                },
                markerStyle: {
                    initial: {
                        fill: '#00a65a',
                        stroke: '#111'
                    }
                },
                markers: marcadores
            });
        }

    </script>
    
    
}